html {
  background: url('../images/overwatch-logo.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background {
    float: left;
    /* padding: .5em; */
    /* width: 10%; */
    width: 25%;
    display: block;
}

.backgroundImage {
    height: 200px;
    width: 350px;
    padding-right: 2.5%;
    padding-left: 2.5%;
    }

.backgroundName {
    float: left;
    padding: .5em;
    width: 100%;
    text-align: center;
}

body {
    color: white;
    padding-left: 5px;
}
div {
    padding-top: 5px;
    padding-bottom: 5px;
}

#title {
font-size: 50px;
text-align: right;
}

#container {
    padding-top: 0px;
    padding-bottom: 50px;
    font-size: 25px;
}

.character {
    float: left;
    padding: .5em;
    /* width: 10%; */
    width: 25%;
    border: solid 1px #ffb700;
    display: block;
}

.characterName {
    float: left;
    padding: .5em;
    width: 100%;
    text-align: center;
}

.characterimage {
height: 100%;
width: 100%;
padding-right: 5%;
padding-left: 5%;
}

.healthPoints {
    float: left;
    padding: .5em;
    width: 100%;
    text-align: center;
}

/* #characterHolder {
padding-bottom: 20px;
font-size: 10px;
}

#enemiesAvailable {
padding-top: 20px;
padding-bottom: 20px;
font-size: 10px;
}

#defender {
padding-top: 20px;
padding-bottom: 20px;
font-size: 10px;
} */

.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 640px) {
    
} 